.news{
    width: 200px;
    text-align: center;
    height: 150px;
    background: darksalmon;
    border-radius: 25px;
    margin: 0 auto;
}
.m-0{
    margin: 0;
}
.content{
    font-size: 10px;
    text-align: left;
}